{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}
<div class="container">



  <div class="row">
      <div class="col">
        Mon projet consiste à faire une application qui va permettre aux associations ou, aux particuliers qui souhaitent faire une maraude de mieux s’orienter afin de venir en aide aux plus de personnes dans le besoin que possible. En effet il arrive que pendant une maraude plusieurs associations interviennent dans le même endroit, les conséquences ? Les sans abris se retrouve avec un surplus de nourriture, mais sans moyen de conservation et malgré une bonne protection cette nourriture attire les rats et par conséquent d’éventuels maladies. 
      </div>
      <div class="col">
        Cette application que j’ai intitulé MapMaraude sera <br>
        - une carte qui affiche en temps réel les maraudes en cours <br>
        - Les utilisateurs pourront prévoir une maraude <br>
        - Faire localiser leurs maraudes lorsqu’elle débutera <br>
        - Il sera aussi possible de signaler des endroits où il y a un besoin
        
      </div>  
 
</div>   
</div>
{% endblock %}
