{% extends 'base.html.twig' %}

{% block title %}Hello ListingController!{% endblock %}

{% block body %}
<div class="m-3 text-center">
<h1>Mon Listing</h1>
  
</div>
{% for chaque_maraude in maraudes %}

<div>
    <h2>{{ chaque_maraude.nom }}</h2>
</div>

{% endfor %}
{% endblock %}
